<h1><%= t('task.edit')%></h1>

<% if @task.errors.any? %>
  <ul>
  <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= render "form", task: @task %>

<%= link_to t('task.back'), tasks_path %>