<h1>使用者列表</h1>

<%= link_to "新增使用者", new_user_path %>

<table>
  <thead>
    <tr>
      <%= link_to "任務列表", tasks_path %>
      <td>姓名：</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>